name: Terraform Checks

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

permissions: {}

jobs:
  terraform-fmt:
    name: 'Terraform fmt'
    runs-on: ubuntu-latest

    permissions:
      contents: read
    steps:
      - name: 'Checkout'
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          # this points back to this file in case there are any changes in the 'go install' command below
          cache-dependency-path: '.github/workflows/terraform.yml'

      - name: Detect version of Terraform needed
        id: version
        run: |
            go install github.com/hashicorp/terraform-config-inspect@latest
            echo "terraform-version=$(terraform-config-inspect --json ./gcp/modules/sigstore | jq -r .required_core[0])" >> "$GITHUB_OUTPUT"

      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v2.0.0
        with:
          terraform_version: ${{ steps.version.outputs.terraform-version }}

      - name: Terraform fmt
        id: fmt
        run: terraform fmt -check -recursive -diff .

  terraform-validate:
    name: 'Terraform validate'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./gcp/modules/sigstore
    permissions:
      contents: read

    steps:
      - name: 'Checkout'
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          # this points back to this file in case there are any changes in the 'go install' command below
          cache-dependency-path: '.github/workflows/terraform.yml'

      - name: Detect version of Terraform needed
        id: version
        run: |
            go install github.com/hashicorp/terraform-config-inspect@latest
            echo "terraform-version=$(terraform-config-inspect --json . | jq -r .required_core[0])" >> "$GITHUB_OUTPUT"

      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v2.0.0
        with:
          terraform_version: ${{ steps.version.outputs.terraform-version }}

      - name: Terraform init
        id: init
        run: terraform init

      - name: Terraform validate
        id: validate
        run: terraform validate


  terraform-tfsec:
    name: 'Terraform tfsec'
    runs-on: ubuntu-latest
    permissions:
      # required for all workflows
      security-events: write

      # only required for workflows in private repositories
      actions: read
      contents: read

    steps:
      - name: 'Checkout'
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: tfsec
        uses: tfsec/tfsec-sarif-action@21ded20e8ca120cd9d3d6ab04ef746477542a608 # v0.1.0
        with:
          sarif_file: tfsec.sarif
          working_directory: '.'
          tfsec_args: --force-all-dirs --verbose

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@014f16e7ab1402f30e7c3329d33797e7948572db # v4.31.3
        with:
          # Path to SARIF file relative to the root of the repository
          sarif_file: tfsec.sarif
